
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  .userDetailClass{grid-area: 2 / 1 /2/ 3}
  .logoClass {grid-area: 1 / 1 / 1/ 3;}
  .cartClass{grid-area: 2 / 2 /3/ 4;}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 640px) {
  .userDetailClass{grid-area: 2 / 1 /2/ 3}
  .logoClass {grid-area: 1 / 1 / 1/ 3;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .userDetailClass{grid-area: 1 / 1 / 1/ 3;}
  .logoClass {grid-area: 1 / 2 / 2 / 2;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and  (min-width: 1024px)  {
  .userDetailClass{grid-area: 1 / 1 / 1/ 3;}
  .logoClass {grid-area: 1 / 2 / 2 / 2;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1280px) {
  .userDetailClass{grid-area: 1 / 1 / 1/ 3;}
  .logoClass {grid-area: 1 / 2 / 2 / 2;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1536px)  {
  .userDetailClass{grid-area: 1 / 1 / 1/ 3;}
  .logoClass {grid-area: 1 / 2 / 2 / 2;}
}
